header, footer {
    display: block;
}

body {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    width: 1000px;
    margin: 0 auto;
}

header {
    text-align: center;
}

#page-title {
    /* background-color: #269759; */
    text-align: center;
    padding: 10px;
}


.content {
    font-size: 18pt;
    overflow: auto;
    /* background-color: #2cae66; */
    margin: 20px auto 20px auto;
    border: #000000;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
}

.column1, .column2{
    width: 460px;
    margin: 10px;
    float: left;
}

.column2 {
    font-size: 18pt;
}

#nav {
    background-color: rgb(70, 143, 207);
    margin: 10px auto 10px auto;
    padding: 10px 10px 10px 10px;
}

#nav h3, ul{
    display: inline;
}

#nav-list li{
    display: inline;
    padding: 5px;
}

#references {
    /* background-color: #edd94c; */
    padding: 10px;
    margin: 5px;
}

ul {
    list-style-position: inside;
}
